.news {
  
    display: flex;
    background-color: whitesmoke;
    .adminContainer {
      flex: 6;
      
      .sec{
        background-color: whitesmoke;
        color: #000;
  
       
        .butt{
          background-color: purple;
        }
      }
  
      .widgets,
      .charts {
        display: flex;
        padding: 20px;
        gap: 20px;
      }
      .body{
        .h1{
            color: black   ;
        }
      }
      .charts {
        padding: 5px 20px;
      }
  
      .listContainer {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        margin: 20px;
  
        .listTitle {
          font-weight: 500;
          color: gray;
          margin-bottom: 15px;
        }
      }
    }
  }
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Adjust the width as needed */
  }
  
  .cardTable {
    width: 100%;
    border-collapse: collapse;
  }
  